.taskcard {
  height: 100%;
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;


  padding: 1rem 2rem;
  color: blue;
  background-color: salmon;
  border: 4px #762509 solid;
  border-top: #FFBE69 2px solid;
  border-left: #FFA569 3px solid;


}
