.Column {
  padding: 10px;
  outline: 3px solid green;
  height: 10vh;
  width: 30vw;
}

.Column ul {
  margin: 0;
  padding: 0;
}



.DragOverColumn {
  height: 100%;
  width: 30vw;
  padding: 10px;
  outline: 3px solid red;
}
